* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 120px;
    margin-left: 20px;
}

nav {
    display: flex;
    flex-grow: 1;
    margin-left: 50px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 60px;
    font-size: 1.4em;
}

nav a:hover {
    text-decoration: underline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    background-color: #333;
    margin-right: 60px;
    color: white;
    font-size: 1.4em;
    border: none;
    cursor: pointer;
    margin-top: -2px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #444;
}

.dropdown:hover .dropbtn {
    background-color: #444;
}


.shopping-cart {
    margin-right: 20px; /* Adjust the margin as needed */
}

.shopping-cart img {
    width: 40px; /* Adjust the width as needed */
    height: auto;
}

.search-bar {
    display: flex;
    align-items: center;
    padding: 10px;
}

.search-bar input[type="text"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.search-bar button {
    padding: 8px 20px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.2em;
    margin-left: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #3e8e41;
}

main {
    margin-top: 20px; /* account for height of navigation bar */
    padding: 50px;
}

.featured-products {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.featured-products-header {
    font-size: 54px;
    text-align: center;
}

.product-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    flex-basis: calc(33.33% - 20px);
    width: 33.33%;
    margin: 10px;
    background-color: #444;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    max-height: 80%;
    height: auto;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 0.9em;
    color: #ccc;
    margin-bottom: 20px;
}

.product-card button {
    padding: 5px 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #3e8e41;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


